<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Administration Produit</title>
	<% include ./partials/header %>
</head>
<body>
<% include ./partials/navbar %>
<div class="container">


<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Ajouter un produit</h1>

	<!-- addProduct FORM -->
	<form action="/addProduct" method="post">
	    <% if (msgError.length > 0) { %>
	        <div class="alert alert-danger"> <%= msgError %> </div>
	    <% } %>
		<div class="form-group">
			<label>Nom</label>
			<input type="text" class="form-control" name="name" required>
		</div>
		<div class="form-group">
			<label>Marque</label>
			<input type="text" class="form-control" name="brand" required>
		</div>
		<div class="form-group">
			<label>Type</label>
			<input type="text" class="form-control" name="typeId" required>
		</div>
        <div class="form-group">
            <label>Prix</label>
            <input type="number" class="form-control" name="price" required>
        </div>
        <div class="form-group">
            <label>Image URL</label>
            <input type="text" class="form-control" name="imageURL" required>
        </div>


		<button type="submit" class="btn btn-warning btn-lg">Valider</button>
	</form>	
</div>



<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span>Liste des produits</h1>

	<table>
		<tr>
			<th>Nom</th>
			<th>Marque</th>
			<th>Type</th>
			<th>Prix</th>
			<th>Image</th>
		</tr>
		<%
		if(listProduct){
			for (var i = 0; i<listProduct.length; i++){
		
		%>
		
		<tr>
			<td><%= listProduct[i].name %></td>
			<td><%= listProduct[i].brand %></td>
			<td><%= listProduct[i].typeId %></td>
			<td><%= listProduct[i].prix %></td>
			<td><%= listProduct[i].imageURL %></td>	
		</tr>
		
		<%
		}}
		%>
	</table>

	
	
</div>


</div>
	<% include ./partials/footer %>
</body>
</html>